{% extends 'polls/base.html' %}

{% block polls_content %}
<div class="row" style="padding-top:50px">
    <div class="col-md-12">

        <h1 class='title'>{{ poll.question }}</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'vote' poll.id %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
            <label for="{{ field.name }}">{{ field.name }}</label>
            {{ field }}
            {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Vote</button>
        </form>
    </div>
</div>
{% endblock %}
